.landing img {
    max-width: 100%;
    height: auto;
}

.landing-tile {
    width: auto;
    height: 31.375rem;
    flex-shrink: 0;
    background-color: #FFF;
    margin: 3.2rem 7.5rem;
}
.landing-header {
    color: #012A2D;
    text-align: center;
    font-family: Khula;
    font-size: 3.6875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 6.25rem; /* 133.333% */
}
.landing-header b{
    font-weight: 800;
}

.landing-text {
    color: rgba(1, 42, 45, 0.54);
    text-align: center;
    font-family: Khula;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.1875rem; /* 139.583% */
}

.landing-text bold{
    font-weight: 800;
}